on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.controller "30740000.usb"
    setprop vendor.usb.controller ${sys.usb.controller}

on fs
    wait /dev/block/platform/0.soc/${ro.boot.bootdevice} 2
    symlink /dev/block/platform/0.soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    setprop sys.usb.config adb
    start recovery
